<footer class="foot mr">
  <div class="social-media">
    <!-- <a href="https://twitter.com/giocoso" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a> -->
    <a href="https://twitter.com/giocoso" target="_blank"><img class="social-logo" src="/social-logo/logo-twitter.svg"
        alt=""></a>
    <!-- <a href="https://youtube.com/giocoso" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a> -->
    <a href="https://youtube.com/giocoso" target="_blank"><img class="social-logo" src="/social-logo/logo-youtube.svg"
        alt=""></a>
    <!-- <a href="https://instagram.com/giocoso" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a> -->
    <a href="https://instagram.com/giocoso" target="_blank"><img class="social-logo"
        src="/social-logo/logo-instagram.svg" alt=""></a>
  </div>
  <div class="copy-right">
    <p class="copy">
      Copyright &copy; 2021 by Giocoso Ltd. All Rights Reserved.
    </p>
    <p class="love">
      Website made with <span class="hearts">&hearts;</span> by Vikram Negi
    </p>
    <p class="make-in-india">
      Made in India <span>&#127470;&#127475;</span>
    </p>
  </div>
</footer>