<nav class="nav">
  <div class="comp-name">
    <a href="/" class="link">Giocoso</a>
  </div>
  <ul class="nav-links">
    <li class="nav-item"><a href="/" class="nav-link link">Home</a></li>
    <li class="nav-item"><a href="/about" class="nav-link link">About</a></li>
    <li class="nav-item"><a href="/contact-us" class="cta-btn nav-link">Contact Us</a></li>
  </ul>
  <!-- hamburger menu -->
  <div class="hamburger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</nav>