<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <div class="container">
    <!-- navbar -->
    <%- include("./partials/nav.ejs") %>
    <!-- showcase -->
    <div class="showcase about-show">
      <h1 class="tagline mr simple-tagline">About Giocoso</h1>
    </div>
    <!-- downwards arrow -->
    <div class="arrow-div">
      <a href="#about-section" class="down-arrow fade-in bounce">&#8595;</a>
    </div>
  </div>
</body>
</html>