<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <div class="container">
    <!-- navbar -->
    <%- include("./partials/nav.ejs") %>
    <!-- showcase -->
    <div class="showcase home-show">
      <h1 class="tagline mr">Your Music <span class="bg-in" id="adjective">Crafted</span> By Us.</h1>
    </div>
    <!-- downwards arrow -->
    <div class="arrow-div">
      <a href="#services" class="down-arrow fade-in bounce">&#8595;</a>
    </div>
    <!-- services we provide -->
    <div class="services-section mr" id="services">
      <a href="/services" class="head-link link mr">Our Services</a>
        <div class="service-cards">
          <div class="card click">
            <figure class="service-img">
              <img src="/img/lyrics.jpg" alt="lyrics image">
            </figure>
            <div class="service-overview">
              <h3 class="service-title">Lyrics</h3>
              <p class="service-description">Tailor-made lyrics that complements your vision of the songs in English, Hindi, & Other Regional Languages.</p>
              <div class="main-btn">
                <a href="/contact-us" class="inquire-cta link">Inquire <span class="link-arrow">&#8599;</span></a>
              </div>
            </div>
          </div>
          <div class="card click">
            <figure class="service-img">
              <img src="/img/mic.jpg" alt="composition image">
            </figure>
            <div class="service-overview">
              <h3 class="service-title">Composition</h3>
              <p class="service-description">Curated compositions that resonates with listeners long after they’ve heard it.</p>
              <div class="main-btn">
                <a href="/contact-us" class="inquire-cta link">Inquire <span class="link-arrow">&#8599;</span></a>
              </div>
            </div>
          </div>
          <div class="card click">
            <figure class="service-img">
              <img src="/img/prod.jpg" alt="music production image">
            </figure>
            <div class="service-overview">
              <h3 class="service-title">Production</h3>
              <p class="service-description">We oversee all aspects of creation from just an idea to release. Customizating to meet the client's requirments is our team’s responsibility.</p>
              <div class="main-btn">
                <a href="/contact-us" class="inquire-cta link">Inquire <span class="link-arrow">&#8599;</span></a>
              </div>
            </div>
          </div>
          <div class="card click">
            <figure class="service-img">
              <img src="/img/prod2.jpg" alt="recording image">
            </figure>
            <div class="service-overview">
              <h3 class="service-title">Recording</h3>
              <p class="service-description">Vocals are the most important aspect part of any mainstream song. We ensure that your music has the highest quality of audio clips.</p>
              <div class="main-btn">
                <a href="/contact-us" class="inquire-cta link">Inquire <span class="link-arrow">&#8599;</span></a>
              </div>
            </div>
          </div>
          <div class="card click">
            <figure class="service-img">
              <img src="/img/promo.jpg" alt="promotions image">
            </figure>
            <div class="service-overview">
              <h3 class="service-title">Promotions</h3>
              <p class="service-description">We ensure that your music is promoted through various different channels like Instagram, YouTube, & Twitter.</p>
              <div class="main-btn">
                <a href="/contact-us" class="inquire-cta link">Inquire <span class="link-arrow">&#8599;</span></a>
              </div>
            </div>
          </div>
          <div class="card click">
            <figure class="service-img">
              <img src="/img/mv-prod.jpg" alt="music video production image">
            </figure>
            <div class="service-overview">
              <h3 class="service-title">MV Production</h3>
              <p class="service-description">We manufacture the highest quality of music videos as per your requirments and budget. We guarantee to gather the kind of audience you would love to influence and build your music career as a prominent figure.</p>
              <div class="main-btn">
                <a href="/contact-us" class="inquire-cta link">Inquire <span class="link-arrow">&#8599;</span></a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- The scroll up btn -->
    <!-- <div id="scroll-up-btn" class="scroll-btn mr fade-in">&#x2191;</div> -->
    <hr>
    <!-- footer -->
    <%- include("./partials/footer.ejs") %>
  </div>

  <!-- <script src="/js/scrollup.js"></script> -->
  <script src="/js/animate.js"></script>
  <script src="/js/hamburger.js"></script>
  <!-- <script src="/js/click.js"></script> -->
  <script src="/js/read-more.js"></script>

  <!-- Ionicons -->
  <!-- <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> -->
</body>
</html>