<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/showcase.css">
  <link rel="stylesheet" href="/css/anime.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
  <title>Giocoso | <%= title %></title>
</head>
<body>
  <div class="container">
    <!-- navbar -->
    <nav class="nav">
      <div class="comp-name">
        <a href="/" class="link">Giocoso</a>
      </div>
      <ul class="nav-links">
        <li class="nav-item"><a href="/" class="nav-link link">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link link">About</a></li>
        <li class="nav-item"><a href="/contact-us" class="cta-btn nav-link">Contact Us</a></li>
      </ul>
      <!-- hamburger menu -->
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </nav>
    <!-- showcase -->
    <div class="showcase">
      <h1 class="tagline mr">Your Music <span class="bg-in" id="adjective">Crafted</span> By Us.</h1>
    </div>
    <!-- downwards arrow -->
    <div class="arrow-div">
      <a href="#services" class="down-arrow fade-in bounce">&#8595;</a>
    </div>
    <!-- services we provide -->
    <div class="services-section mr" id="services">
      <a href="/services" class="head-link link mr">Our Services</a>
        <div class="service-cards">
          <div class="card click">
            <figure class="service-img">
              <img src="/img/lyrics.jpg" alt="lyrics image">
            </figure>
            <div class="service-overview">
              <h3 class="service-title">Lyrics</h3>
              <p class="service-description">Tailor-made lyrics that complements your vision of the songs in English, Hindi, & Other Regional Languages.</p>
              <div class="main-btn">
                <a href="/contact-us" class="inquire-cta link">Inquire <span class="link-arrow">&#8599;</span></a>
              </div>
            </div>
          </div>
          <div class="card click">
            <figure class="service-img">
              <img src="/img/mic.jpg" alt="composition image">
            </figure>
            <div class="service-overview">
              <h3 class="service-title">Composition</h3>
              <p class="service-description">Curated compositions that resonates with listeners long after they’ve heard it.</p>
              <div class="main-btn">
                <a href="/contact-us" class="inquire-cta link">Inquire <span class="link-arrow">&#8599;</span></a>
              </div>
            </div>
          </div>
          <div class="card click">
            <figure class="service-img">
              <img src="/img/prod.jpg" alt="music production image">
            </figure>
            <div class="service-overview">
              <h3 class="service-title">Production</h3>
              <p class="service-description">We oversee all aspects of creation from just an idea to release. Customizating to meet the client's requirments is our team’s responsibility.</p>
              <div class="main-btn">
                <a href="/contact-us" class="inquire-cta link">Inquire <span class="link-arrow">&#8599;</span></a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- The scroll up btn -->
    <div id="scroll-up-btn" class="scroll-btn mr fade-in">&#x2191;</div>
  </div>

  <script src="/js/scrollup.js"></script>
  <script src="/js/animate.js"></script>
  <script src="/js/hamburger.js"></script>
  <!-- <script src="/js/click.js"></script> -->
</body>
</html>