<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/g_icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/g_icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/g_icons/favicon-16x16.png">
  <link rel="manifest" href="/g_icons/site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
  <title>Giocoso | <%= title %></title>
</head>
<body>
  <div class="container">
    <nav class="nav">
      <div class="comp-name">
        <a href="/">Giocoso</a>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact" class="cta-btn">Contact Us</a></li>
      </ul>
    </nav>
    <div class="showcase">
      <h1 class="tagline">Your Music Provided By Us.</h1>
    </div>
  </div>
</body>
</html>