/* navbar */

.main-logo {
  height: 2rem;
  margin: 0.25em;
}

.nav-links {
  display: flex;
  flex-flow: row, wrap;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.nav ul li a {
  padding: 0.5em;
  margin: 0 0.25em;
  font-size: 1rem;
}

.nav {
  display: flex;
  flex-flow: row, wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0.75rem 0;
}

.cta-btn {
  background-color: #2E4057;
  border-radius: 5%;
  color: #F4D35E;
}