/* Showcase */
.showcase {
  height: 80vh;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.05)), url("/img/showcase-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline {
  color: white;
  text-align: center;
  font-size: 2.5rem;
}

@media only screen and (max-height: 800px) {
  .showcase {
    height: 75vh;
  }
}