* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 60rem;
  margin: auto;
}

p {
  font-family: 'Lora', serif;
}

a {
  text-decoration: none;
  color: black;
}

