:root {
  --logo-dark: #2E4057;
  --logo-color: #F4D35E;
  --black: #404040;
  --grey: #494949;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: var(--black);
}

.container {
  max-width: 60rem;
  margin: auto;
}

p {
  font-family: 'Lora', serif;
}

a {
  text-decoration: none;
  color: black;
}

/* showcase*/
.showcase {
  height: 80vh;
}