:root {
  --logo-dark: #2E4057;
  --logo-color: #F4D35E;
  --black: #404040;
  --grey: #494949;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}

.container {
  max-width: 60rem;
  margin: auto;
}

p {
  color: black;
  font-size: 0.95rem;
  /* font-family: 'Lora', serif; */
  font-weight: 500;
  line-height: 1.4;
}

/* Use this class to give margins */
.mr {
  margin: 0 0.5rem;
}

/* for all anchor tags */
a {
  text-decoration: none;
  color: var(--black);
}

/* Scroll up btn style */
.scroll-btn {
  height: 55px;
  width: 65px;
  text-align: center;
  padding: 0.4em 0em;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  font-size: 1.5rem;
  visibility: hidden;
  position: sticky;
  bottom: 0.5rem;
  left: 100%;
}

.arrow-div {
  display: flex;
  padding: 0.1em;
  align-items: center;
  justify-content: center;
}

.down-arrow {
  text-align: center;
  font-size: 2.5rem;
  padding: 0.1em 0.5em;
}

.services-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4em;
}

@media only screen and (max-width: 768px) {
  .services-section {
    padding-top: 2.75rem;
  }
}

.service-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  flex-direction: column;
}

.card {
  width: 75%;
  /* height: 60%; */
  padding: 1.5em 1em;
  /* display: grid; */
  /* grid-template-columns: 1fr 2fr; */
  /* column-gap: 2rem;
  grid-area: auto; */
}

.service-img img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.head-link {
  text-align: center;
  font-size: 2rem;
  padding: 0.2em;
}

.fade-in {
  opacity: 60%;
  transition: opacity 0.25s ease-in-out;
}

.fade-in:hover {
  opacity: 100%;
  cursor: pointer;
}